body {
    font-family: Arial;
    background:#f4f6f9;
    margin:0;
}

header {
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
}

/* 🔥 CENTRAGE LOGO */
header img {
    display: block;
    margin: 0 auto;
}

.container {
    width:95%;
    margin:30px auto;
}

.table-container {
    overflow-x:auto;
}

.excel-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.excel-table th,
.excel-table td {
    border:2px solid black;
    padding:8px;
    text-align:center;
}

.excel-table th {
    background:#d9edf7;
    font-weight:bold;
}

.excel-table tr:nth-child(even) td {
    background-color:#f2f2f2;
}

.paid {
    color:green;
    font-weight:bold;
}

.not-paid {
    color:red;
}

.total-row {
    background:#eee;
    font-weight:bold;
}

footer {
    text-align:center;
    padding:15px;
    background:#2c3e50;
    color:white;
    margin-top:40px;
}