<!DOCTYPE html>
<html>
<head>
    <title>{{ association }} - Cotisations {{ year }}</title>

    <!-- Lien CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="200">
</header>

<h2>{{ association }} - Cotisations {{ year }}</h2>

<form method="POST">
    <label>Année :</label>
    <input type="number" name="year" value="{{ year }}">
    <button type="submit">Afficher</button>
</form>

<br>

<a href="/export/{{ association }}/{{ year }}">
    <button>Exporter PDF</button>
</a>

<br><br>

<table class="excel-table">
<tr>
    <th>Nom</th>
    {% for m in months %}
        <th>{{ m }}</th>
    {% endfor %}
    <th>Total payé</th>
</tr>

{% for row in table_data %}
<tr>
    <td>{{ row.name }}</td>
    {% for m in months %}
        <td>
            {% if row.months[m] > 0 %}
                <span class="paid">{{ row.months[m] }}</span>
            {% else %}
                <span class="not-paid">0</span>
            {% endif %}
        </td>
    {% endfor %}
    <td><strong>{{ row.total }}</strong></td>
</tr>
{% endfor %}

<tr class="total-row">
    <th>Total Général</th>
    {% for m in months %}
        <th>{{ total_per_month[m] }}</th>
    {% endfor %}
    <th>{{ total_general }}</th>
</tr>
</table>

<footer>
    <p>© 2026 - Site développé par Sal Laamtooro</p>
</footer>

</body>
</html>