<!DOCTYPE html>
<html>
<head>
    <title>{{ association }} - Cotisations {{ year }}</title>
    <style>
        body { font-family: Arial; padding:20px; background:#fdfdfd; }
        table { border-collapse: collapse; width:100%; }
        th, td { border:1px solid black; padding:6px; text-align:center; }
        th { background:#eee; }
        .paid { color:green; font-weight:bold; }
        .unpaid { color:red; }
    </style>
</head>
<body>


<header>
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="200">
</header>

<h2>{{ association }} - Cotisations {{ year }}</h2>

<form method="POST">
    <label>Année :</label>
    <input type="number" name="year" value="{{ year }}">
    <button type="submit">Afficher</button>
</form>

<br>
<a href="/export/{{ association }}/{{ year }}">
    <button>Exporter PDF</button>
</a>

<br>

<table>
<tr>
    <th>Nom</th>
    {% for m in months %}
        <th>{{ m }}</th>
    {% endfor %}
    <th>Total payé</th>
</tr>

{% for row in table_data %}
<tr>
    <td>{{ row.name }}</td>
    {% for m in months %}
        <td>
            {% if row.months[m] > 0 %}
                <span class="paid">{{ row.months[m] }}</span>
            {% else %}
                <span class="unpaid">0</span>
            {% endif %}
        </td>
    {% endfor %}
    <td><strong>{{ row.total }}</strong></td>
</tr>
{% endfor %}

<tr>
    <th>Total Général</th>
    {% for m in months %}
        <th>{{ total_per_month[m] }}</th>
    {% endfor %}
    <th>{{ total_general }}</th>
</tr>

</table>

<br>
<p>© 2026 - Site développé par Sal Laamtooro</p>

</body>
</html>